---
version: 0.2
env:
  variables:
    LAMBDA_BUCKET_PREFIX: {{s3_bucket_prefix}}
    LAMBDA_BUCKET_REGION: {{s3_bucket_region}}
phases:
  install:
    runtime-versions:
      docker: 20
      python: {{python_version}}
  build:
    commands:
      - make S3_BUCKET_PREFIX=${LAMBDA_BUCKET_PREFIX} AWS_REGION=${LAMBDA_BUCKET_REGION} ${MAKE_TARGET:-deploy}
