{{project_name}} - {{description}}
===================================

## Installation
To install this custom resource provider, type:

```bash
git checkout {{url}}.git
cd {{ url | basename }}
aws cloudformation deploy \
    --capabilities CAPABILITY_NAMED_IAM \
    --stack-name {{project_name}}
    --template-file ./cloudformation/{{project_name}}.yaml
```

## Demo
To install a simple sample of the custom {{resource_name}} resource, type:

```sh
git checkout {{url}}.git
cd {{ url | basename }}
aws cloudformation deploy \
    --capabilities CAPABILITY_NAMED_IAM \
    --stack-name {{project_name}}-demo \
    --template-file ./cloudformation/demo.yaml
```