AWSTemplateFormatVersion: '2010-09-09'
Description: '{{description}}'
Resources:
  CFNCustomProvider:
    Type: AWS::Lambda::Function
    Properties:
      Description: '{{description}}'
      PackageType: Image
      Code:
        ImageUri: {{ aws_account }}.dkr.ecr.{{ aws_region }}.amazonaws.com/{{project_name}}:0.0.0
      Architectures:
        - x86_64
      FunctionName: '{{project_name}}'
      MemorySize: 128
      Timeout: 900
      LoggingConfig:
        LogGroup: !Ref LogGroup
      Role: !GetAtt 'LambdaRole.Arn'

  LambdaRole:
    Type: AWS::IAM::Role
    Properties:
      AssumeRolePolicyDocument:
        Version: '2012-10-17'
        Statement:
          - Action:
              - sts:AssumeRole
            Effect: Allow
            Principal:
              Service:
                - lambda.amazonaws.com
      Policies:
        - PolicyName: WriteToLogGroupPermission
          PolicyDocument:
            Version: '2012-10-17'
            Statement:
              - Effect: Allow
                Action:
                - logs:CreateLogStream
                - logs:PutLogEvents
                Resource: !GetAtt 'LogGroup.Arn'

  LogGroup:
    Type: AWS::Logs::LogGroup
    Properties:
      LogGroupName: '/aws/lambda/{{project_name}}'
      RetentionInDays: 7